 body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Chandas";
    font-size: 1.5rem;
    font-weight: 700;
    color: white;

}

.calcBody{
    height:420px;
    width: 272px;
    background-color: #37c1ff;

    border: solid 2px black;
    border-radius: 15px;
}

.amountInput {
    height:220px;
    width: 272px;
    background-color: #37c1ff;

    border: solid 2px black;
    border-radius: 15px;

    margin-top: 15px;
}

.row{
    display: flex;
    flex-direction: row;
}

.outputArea{
    padding: 4px 4px 4px 4px;

}

.currencyCalc{
    color: black;
}

.currencyOutput{
    color: black;
}

.display{
    border: none;
    background-color: #37c1ff;

    height: 60px;
    width: 264px;

    font-family: "Chandas";
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

 .currencyDisplay{
    border: none;
    background-color: white;

    height: 60px;
    width: 264px;

    font-family: "Chandas";
    font-size: 1.5rem;
    font-weight: 700;
    color: #37c1ff;

     border-radius: 10px;
     border-bottom: 2px solid black;
}

.inputArea{
    display: flex;
    flex-direction: row;
    border-top: solid 2px black;
    flex-wrap: wrap;
}

.calcButton{
    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px 4px 4px 4px;

    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 4px #999;

    font-family: "Chandas";
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


 .currencyButton{
     height: 60px;
     width: 130px;

     display: flex;
     justify-content: center;
     align-items: center;

     margin: 4px 4px 4px 4px;

     border: solid 2px black;
     border-radius: 10px;
     box-shadow: 0 4px #999;

     background-color: #F10A75;

     font-family: "Chandas";
     font-size: 1.4rem;
     font-weight: 700;
     color: white;
 }

.noDisplay{
    visibility: hidden;
}

.calcButton:hover{
    border: solid 2px black;

    font-family: "Chandas";
    font-weight: 700;
    color: white;
}

.calcButton:active {
    box-shadow: 0 4px #666;
    transform: translateY(2px);
    border: solid 2px black;

    font-family: "Chandas";
    font-weight: 700;
    color: white;
}

.numButton{
    background-color: #ff7d00;
}
.numButton:hover{
    background-color: #C46600;
}
.numButton:active{
    background-color: #C46600;
}

.opButton{
    background-color: #23ff00;
}
.opButton:hover{
    background-color: #1caf00;
}
.opButton:active{
    background-color: #1caf00;
}

.clearButton{
    background: #FF110A;
}
.clearButton:hover{
    background: #be0d07;
}
.clearButton:active{
    background: #be0d07;
}

.currencyButton:hover{
    background: #C20A6C;
}
.currencyButton:active{
    background: #C20A6C;
}